<div class="flex justify-center w-full">
  <h1 class="text-purple-700 text-6xl">Za każdym odświeżeniem tej strony liczba kobiet, które mnie nie lubią rośnie. Aktualnie wynosi: <%= @page_hits %></h1>
</div>
