<%= turbo_frame_tag "content" do %>
  <div class="mx-auto md:w-2/3 w-full">
    <%= render "form", election: @election, is_edit: true %>
    <%=
      link_to(
        "Powrót do listy wyborów",
        elections_path,
        class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium",
        data: { turbo_frame: "new_elections_frame" }
      )
    %>
  </div>
<% end %>
