<%= turbo_frame_tag "new_election_frame" do %>
  <% if policy(Election).new? %>
    <div>

    </div>

    <%=
      link_to(
        "Nowe wybory",
        new_election_path,
        class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium",
        data: { turbo_frame: "new_elections_frame" }
      )
    %>
  <% end %>

  <h2>Lista wyborów</h2>
<% end %>
