<%= turbo_frame_tag "content" do %>
  <h2>Głosowanie</h2>
  <h3><%= @election.name %></h3>

  <div>
    <% @election.election_sheets.each do |election_sheet| %>
      <%= render(
            partial: 'elections/sheets_result',
            locals: { election_sheet: }
          )
      %>
    <% end %>
  </div>

  <%=
    link_to(
      "Powrót do listy wyborów",
      elections_path,
      class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium",
      data: { turbo_frame: "new_elections_frame" }
    )
  %>

<% end %>
